.navbar {
  background: #1a253c;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  max-width: 1200px;
  padding: 0 24px;
}

.navbar-logo {
  color: #fff;
  justify-self: start;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  display: flex;
  align-items: center;
}

.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
}

.nav-item {
  /* The fixed height was removed from here */
}

.nav-links {
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 80px; /* We keep the height on the links themselves */
  cursor: pointer;
}

.nav-links:hover {
  border-bottom: 4px solid #007bff;
  transition: all 0.2s ease-out;
}

.nav-links-btn {
  background-color: #007bff;
  padding: 8px 20px;
  border-radius: 5px;
  color: #fff;
  text-decoration: none;
  margin-left: 1rem;
  transition: all 0.3s;
}

.nav-links-btn:hover {
  background-color: #0056b3;
}
.nav-user {
  color: #fff;
  padding: 0 1rem;
  display: flex;
  align-items: center;
}